@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/images/supporter.png" />

    <title>Soporte técnico</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">

    <link rel="stylesheet" href="~/css/templatemo-breezed.css">

    <link rel="stylesheet" href="~/css/owl-carousel.css">

    <link rel="stylesheet" href="~/css/lightbox.css">

</head>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<body>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#top" class="logo">
                            TeleAtlántico
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top">Inicio</a></li>
                            <li class="scroll-to-section"><a href="#issue">Solicitudes</a></li>
                            @if (@HttpContextAccessor.HttpContext.Session.GetInt32("isSupervisor") != 0)
                            {
                                <li class="scroll-to-section"><a href="#add-supporter">Soportista(+)</a></li>
                            }
                        <div class="search-icon">
                            <a onclick="location.href='@Url.Action("Index", "Employee")'"><i class="fa fa-sign-out"></i></a>
                            <!--<input type="button" class="fa fa-sign-out" value="Cerrar Sesión" onclick="location.href='@Url.Action("Index", "Employee")'" />-->
                        </div>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">

        <div class="item">
            <div>
                <div class="img-fill">
                    <img src="~/images/slide-02.jpg" alt="">
                    <div class="text-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- ISSUE -->
    <section id="issue">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2>Solicitudes</h2><br>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="table">

                            <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Clasificación
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Comentario
                                    </th>
                                    <th>
                                        Servicio
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("isSupervisor") != 0)
    {
        <section class="section" id="add-supporter">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>Agregar Soportista</h2><br>
                        <h3 id="message" style="visibility:hidden;"></h3>
                    </div>
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="Nombre" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <fieldset>
                                    <input name="first-surname" type="text" id="first-surname" placeholder="Apellido 1" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <fieldset>
                                    <input name="second-surname" type="text" id="second-surname" placeholder="Apellido 2" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <fieldset>
                                    <input name="email" type="email" id="email" placeholder="Email" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <fieldset>
                                    <input name="password" type="password" id="password" placeholder="Contraseña" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <fieldset>
                                    <label for="is-supervisor">Es Supervisor:</label><br>
                                </fieldset>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <fieldset>
                                    <select name="is-supervisor" id="is-supervisor" class="form-control">
                                        <option value="Si">Sí</option>
                                        <option value="No">No</option>
                                    </select>

                                </fieldset>
                            </div>
                            <div class="col-md-1 col-sm-12">
                                <fieldset>
                                    <label for="option-supervisor">Supervisor:</label><br>
                                </fieldset>
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <fieldset>
                                    <select name="option-supervisor" id="option-supervisor" class="form-control">
                                        <option>Nombre1</option>
                                        <option>Nombre2</option>
                                    </select>

                                </fieldset>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <fieldset>
                            <label for="service">Servicios asignados:</label>
                        </fieldset>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <fieldset>
                            <select name="option-services" id="option-services" class="form-control"></select>
                        </fieldset>
                    </div>

                    <div class="contact-form">
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <button class="submit-btn form-control" id="add-supporter-btn" onclick="AddEmployee()">Registrar</button>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <button class="submit-btn form-control" id="clear-supporter-btn" onclick="">Limpiar</button>
                    </div>
                </div>
            </div>
        </section>
    }



    <!-- jQuery -->
    <script src="~/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/scrollreveal.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imgfix.min.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/lightbox.js"></script>
    <script src="~/js/isotope.js"></script>
    <script src="~/js/site.js"></script>


    <!-- Global Init -->
    <script src="~/js/custom.js"></script>
</body>
</html>