@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/images/supporter.png" />

    <title>Soporte técnico</title>

    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">

    <link rel="stylesheet" href="~/css/templatemo-breezed.css">

    <link rel="stylesheet" href="~/css/owl-carousel.css">

    <link rel="stylesheet" href="~/css/lightbox.css">

    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css">

</head>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<body>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="#top" class="logo">
                            TeleAtlántico
                        </a>
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top">Inicio</a></li>
                            <li class="scroll-to-section"><a href="#issue">Solicitudes</a></li>
                            @if (@HttpContextAccessor.HttpContext.Session.GetInt32("isSupervisor") != 0)
                            {
                                <li class="scroll-to-section"><a href="#add-supporter">Soportista(+)</a></li>
                            }
                            <li class="scroll-to-section"><a onclick="location.href='@Url.Action("Index", "Employee")'">Cerrar Sesión</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
            <div class="item">
                <div class="img-fill">
                    <img src="~/images/sup.png" alt="">
                    <div class="text-content">
                        <h1 style="color: snow">Te damos la bienvenida</h1>
                        <h2 style="color: snow">@HttpContextAccessor.HttpContext.Session.GetString("name") @HttpContextAccessor.HttpContext.Session.GetString("firstSurname") @HttpContextAccessor.HttpContext.Session.GetString("secondSurname")</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <input type="text" name="id-employee" id="id-employee" style="visibility:hidden" value="@HttpContextAccessor.HttpContext.Session.GetInt32("employeeId")">
     <input type="text" name="supervisor" id="supervisor" style="visibility:hidden" value="@HttpContextAccessor.HttpContext.Session.GetInt32("isSupervisor")">

    <section id="issue">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2>Solicitudes</h2><br>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="table">

                            <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Clasificación
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Comentario
                                    </th>
                                    <th>
                                        Servicio
                                    </th>
                                    <th>
                                        Acción
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="openModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Asignar Solicitud</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <table>
                            <tr>
                                <td>
                                    <div class="modal-body">
                                        <label for="id-issue">ID: </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-body">
                                        <input class="form-control" type="text" name="id-issue" id="id-issue" disabled>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="modal-body">
                                        <label for="classification">Clasificación: </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-body">
                                        <input class="form-control" type="text" name="classification" id="classification" disabled>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="modal-body">
                                        <label for="status">Estado: </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-body">
                                        <input class="form-control" type="text" name="status" id="status" disabled>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="modal-body">
                                        <label for="report-date">Fecha: </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-body">
                                        <input class="form-control" type="text" name="report-date" id="report-date" disabled>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="modal-body">
                                        <label for="resolution">Comentario: </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-body">
                                        <textarea class="form-control" name="resolution" id="resolution" disabled></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="modal-body">
                                        <label for="option-supporter">Soportista: </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-body">
                                        <select class="form-control" name="option-supporter" id="option-supporter"></select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="modal-footer">
                            <button class="submit-btn form-control" id="form-submit" onclick="return IssueUpdate()" data-dismiss="modal">Asignar</button>
                            <br>
                            <button type="button" class="submit-btn form-control" id="form-submit" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="resolved" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Resolver Solicitud</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <table>
                            <tr>
                                <td>
                                    <div class="modal-body">
                                        <label for="id-issue2">ID: </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-body">
                                        <input class="form-control" type="text" name="id-issue2" id="id-issue2" disabled>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="modal-body">
                                        <label for="classification2">Clasificación: </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-body">
                                        <input class="form-control" type="text" name="classification2" id="classification2" disabled>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="modal-body">
                                        <label for="status">Estado: </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-body">
                                        <select class="form-control" name="option-status" id="option-status">
                                            <option value="En proceso">En proceso</option>
                                            <option value="Resuelto">Resuelto</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="modal-body">
                                        <label for="report-date2">Fecha: </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-body">
                                        <input class="form-control" type="text" name="report-date2" id="report-date2" disabled>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="modal-body">
                                        <label for="resolution2">Comentario: </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-body">
                                        <textarea class="form-control" name="resolution2" id="resolution2" disabled></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="modal-body">
                                        <label for="resolution">Nota: </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-body">
                                        <textarea class="form-control" name="note" id="note"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="modal-footer">
                            <button class="submit-btn form-control" data-dismiss="modal" id="form-submit" onclick="return">Agregar</button>
                            <br>
                            <button type="button" class="submit-btn form-control" id="form-submit" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("isSupervisor") != 0)
    {
        <section class="section" id="add-supporter">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>Agregar Soportista</h2><br>
                        <h3 id="message" style="visibility:hidden;"></h3>
                    </div>
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="Nombre" required="" autocomplete="off">
                                </fieldset>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <fieldset>
                                    <input name="first-surname" type="text" id="first-surname" placeholder="Apellido 1" required="" autocomplete="off">
                                </fieldset>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <fieldset>
                                    <input name="second-surname" type="text" id="second-surname" placeholder="Apellido 2" required="" autocomplete="off">
                                </fieldset>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <fieldset>
                                    <input name="email" type="email" id="email" placeholder="Email" required="" autocomplete="off">
                                </fieldset>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <fieldset>
                                    <input name="password" type="password" id="password" placeholder="Contraseña" required="" autocomplete="off">
                                </fieldset>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <fieldset>
                                    <label for="is-supervisor">Es Supervisor:</label><br>
                                </fieldset>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <fieldset>
                                    <select name="is-supervisor" id="is-supervisor" class="form-control">
                                        <option value="Si">Sí</option>
                                        <option value="No">No</option>
                                    </select>

                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12" style="margin-top:20px;">
                        <fieldset>
                            <label for="service">Servicios asignados:</label>
                        </fieldset>
                    </div>
                    <div class="col-md-10 col-sm-12" style="margin-top:20px;">
                        <fieldset>
                            <div class="form-check" id="form-check">

                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4 col-sm-12" style="margin-top:20px;">
                        <button class="submit-btn form-control" id="add-supporter-btn" onclick="AddEmployee()">Registrar</button>
                    </div>
                    <div class="col-md-4 col-sm-12" style="margin-top:20px;">
                        <button class="submit-btn form-control" id="clear-supporter-btn" onclick="Clear()">Limpiar</button>
                    </div>
                </div>
            </div>
        </section>
    }

    <script src="~/js/jquery-2.1.0.min.js"></script>

    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/scrollreveal.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imgfix.min.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/lightbox.js"></script>
    <script src="~/js/isotope.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js"></script>

</body>
</html>